@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap');
@import '~normalize.css';

@import 'mixins.scss';

$transition: 0.3s all;

a {
  text-decoration: none;
}

body {
  @include roboto;

  transition: $transition;
}